# Ignore everything
*
public_html/.DS_Store
.vscode-server/

# Except the .gitignore itself
!.gitignore
!.gitmodules

# Except public_html
!public_html/
# And its contents
!public_html/**

public_html/DS_Store

public_html/JS2/project/node_modules
public_html/JS2/project/dist