/* Minimum width is 900 px */

:root {
  --layout-gap: 2em;
}

#grid-wrapper{
  /* width: 90vw; */
  min-width: 900px;
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 14fr 2fr 1fr;
  grid-auto-rows: auto;
}

#content-sideNav {
  display: block;
}

#content-topNav {
  display: none;
}
