/* max width is 720 px */

:root{
  --text: #000;
  --bg: #fff;
  --nm-text: #fff;
  --nm-bg: #000;
  --standard-radius: 3px;
  --layout-gap: 1em;
}

#grid-wrapper{
  /* width: 90vw; */
  min-width: 480px;
  max-width: 720px;
  margin: auto;
  display: grid;
  grid-template-columns: 0 1fr 8fr 1fr 0;
  grid-auto-rows: auto;
  gap: var(--layout-gap);
}

body {
  font-size: 16pt;
}

h1 {
  font-size: 13vw;
  overflow: hidden;
}

#content-topNav a {
  font-size: 4vw;
}

.layout-flexRow {
  flex-direction: column;
}

.content-flexSquare {
  flex-direction: row;
}

thead {
  display: none;
}

td {
  position: relative;
  display: block;
  padding:2px 2px 0 130px;
}

th {
  display: block;
}

td::before {
  position: absolute;
  text-align: right;
  width: 110px;
  left: 1px;
}

td:nth-of-type(1)::before {
  content: "First Name";
}
td:nth-of-type(2)::before {
  content: "Last Name";
}
td:nth-of-type(3)::before {
  content: "Job Title";
}