/* CSS for crumb project 2
Gravy Press @ boryan.online */


:root{
  --text: #000;
  --bg: #fff;
  --standard-radius: 3px;
}

/* Grid 
Defines grid, placement on grid*/

#grid-wrapper{
  /* width: 90vw; */
  min-width: 480px;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 10vw 1fr minmax(60vw, 3fr) 1fr 10vw;
  grid-auto-rows: auto;
  gap: 1em;
}

.grid-fullWidth{
  grid-column: 2 / -2;
  grid-row: auto;
  /* background-color: #0f0; */
}

.grid-leftColumn{
  grid-column: 1;
  grid-row: auto;
  text-align: right;
}

.grid-centerColumn{
  grid-row: auto;
  grid-column: 3 / span 1;
  /* min-width: 70vw; */
}

/* Layout
Defines div size, spacing, positioning within grid boxes */

.layout-verticalPadding{
  margin: 0 0;
  /* background-color: #000; */
}

.layout-centered{
  display: flex;
  justify-content: center;
}


.layout-size-medium{
  height: 15em;
  overflow: hidden;
}


/* Content
Defines appearance of content inside the layout */

#content-hero{
  grid-column: 1 / -1;
  grid-row: 1;
  overflow: hidden;
  max-height: 50vh;
  display: flex;
  margin-bottom: 2em;
}

#content-hero img{
  object-fit: cover;
  width: 100%;
  
}

#content-topNav{
  text-align: center;
}

#content-topNav a{
  font-size: 2em;
  font-weight: 400;
}

#content-topNav a::after{
  content: '.';
}

#content-topNav__homeAnchor{
  --text: #AAA;
  color: var(--text);
}

#content-sideNav{

}

#content-sideNav a{
  display: block;
}

.content-cta-button {
  border: thin solid var(--text);
  border-radius: var(--standard-radius);
  background-color: var(--bg);
  padding: 0.5em;
  transition: 0.2s ease-out;
}

.content-cta-button:hover {
  background-color: var(--text);
  color: var(--bg);
  text-decoration: none;
}

.content-image img{
  height: 100%;
}

section{
  margin: 0em;
}

body{
  font-family: 'Lato', sans-serif;
  /* line-height: auto; */
  margin: 0em;
}

footer{
  grid-column: 3/-3;
  grid-row: auto;
  margin-bottom: 1em;
}

footer aside{
  --text: #AAA;
  color: var(--text);
}

footer #mail::before{
  font-family: 'Material Icons';
  content: 'mail ';
  text-transform: none;
}

p{
  
}

h1, h2, h3, h4, h5, h6{
  margin: 0em;
}

h1{
  font-size: 6em;
  text-align: center;

}

h2{
  font-size: 2em;
}

a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text);
  font-weight: 600;
}



a:hover{
  text-decoration: underline;
}